<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>

<!-- header -->
<blockquote class="blockquote">
<h1>WE CARE!</h1>
</blockquote>
<!-- button -->
<a class="button-container" href="/home">
<button type="button" class="btn btn-outline-secondary">Home</button>
</a>
<a class="button-container" href="/faq">
  <button type="button" class="btn btn-outline-secondary">FAQ</button>
</a>
<a class="button-container" href="/post">
<button type="button" class="btn btn-outline-secondary">Write Something</button>
</a>

<body>
  
  <!-- content posting -->
  <div class="container">
    <div class="card mx-auto" style="width: 18rem;">
        <img src="https://i.pinimg.com/564x/f6/10/fe/f610feb7dda0168bb968a8830fd16b9c.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2" type="button">Comment</button>
          </div>
    </div>
  </div>
</body>
</html>